/* CSS Document 
   special for login*/

button {
	width: 100%;
	font-family: Arial;
	font-size: 0.9rem;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #2d314b;
}

/* Desktops */
@media only screen and (min-width: 768px) {
	div.main {
		background-color: #0450fb;
		border: 1px solid #2d314b;
		box-shadow: 2px 2px 4px #2a2c5a;
		width: 25%;
		margin: 15% auto 0;
		padding: 1.4rem 1.4rem 0.2rem;
		text-align: center;
	}

	div.content {
		margin: auto;
		width: auto;
	}

	div.form {
		background-color: white;
		border: 1px solid #2d314b;
		padding: 0.5rem;
		text-align: center;
	}

	div.wrapper {
		display: block;
	}

	div.text {
		width: 45%;
		float: left;
		text-align: right;
		margin: 0.1rem;
		padding: 0.1rem 0 0.1rem 0.1rem;
	}

	div.input {
		width: 52%;
		float: right;
		margin: 0.1rem;
		padding: 0.1rem 0.1rem 0.1rem 0.1rem;
	}

	div.input input {
		width: 99%;
	}
}