/* CSS Document */
html {
	font-size: 1.2rem;
	font-family: fantasy;
}

div.container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
}

div.top-bar {
	width: 100%;
	height: 2.5rem;
	margin-top: 0;
	padding-top: 0.5rem;
	background-color: #0450fb;
	border-bottom: 1px solid #2d314b;
	box-shadow: 2px 2px 4px #2a2c5a;
	text-align: center;
}

div.top-bar h1 {
	margin: 0;
	color: white;
	font-size: 1.7rem;
}

/* Desktops */
@media only screen and (min-width: 768px) {
	div.language {
		position: absolute;
		top: 0;
		right: 0; 
		text-align: right;
		max-width: 20%;
		margin-top: 0.5rem;
		margin-right: 1rem; 
		float: right;
	}

	div.language ul, div.copyright ul {
		list-style-type: none;
		display: inline;
	}

	div.language li, div.copyright li {
		display: inline;
		padding: 0rem;
		margin: 0.5rem;
	}

	div.language img {
		box-shadow: 2px 2px 4px #2a2c5a;
	}

	div.main {
		background-color: #0450fb;
		border: 1px solid #2d314b;
		box-shadow: 2px 2px 4px #2a2c5a;
		width: 22%;
		margin: 15% auto 0;
		padding: 1.4rem 1.4rem 0.2rem;
		text-align: center;
	}

	div.content {
		margin: auto;
		width: auto;
	}

	div.form {
		background-color: white;
		border: 1px solid #2d314b;
		padding: 0.5rem;
	}

	div.text {
		width: 47%;
		float: left;
		text-align: right;
		padding: 0.1rem 0 0.1rem 0.1rem;
	}

	div.input {
		width: 47%;
		float: right;
		text-align: left;
		padding: 0.1rem 0.1rem 0.1rem 0;
	}

	div.foot {
		width: 100%;
		position: absolute;
		left: 0; 	
		bottom: 0;
		font-size: 1rem;
	}

	div.copyright {
		margin: 0 auto;
		text-align: center;
	}

	button {
		width: 98%;
		font-family: fantasy;
		font-size: 0.9rem;
	}

	a {
		text-decoration: none;
		color: white;
	}

	a:hover {
		color: #2d314b;
	}
}